h1 {
		color: darkblue;
		font-size: 50px;
		font-family: Montserrat, sans-serif;
		text-align: center;
}

h2 {
		color: #3253ff;
}

p {
	color: rgb(200,000,000);
	text-align: center;
}

body {
	background-color: beige;
	text-align: center;
}

ul {

	display: inline-block;
	text-align: center;
}
 
ol {
	display: inline-block;
}

li {
	text-align: left;
	font-size: 20px;
}
nav {
	background-color: lightblue;
}
#Monst {
	font-family: "Montserrat", sans-serif;
  }

.grid{
	display: grid;
	grid-template-columns: auto auto auto;

}
.log{
	grid-column: 3/-1;
}

.title{
	grid-column: 2/3;
	grid-row: 1/2;
}
