h1 {
		color: darkviolet;
}

h2 {
		color: #3253ff;
}

p {
	color: rgb(200,000,000);
}

body {
	background-color: beige;
	text-align: center;
}

ul {

	display: inline-block;
}
 
ol {
	display: inline-block;
}
